<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410231270996-rhuu5an1f7nqsp9d3t6971d64ofd0iuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410231270996-rhuu5an1f7nqsp9d3t6971d64ofd0iuc</string>
	<key>API_KEY</key>
	<string>AIzaSyAPBY0bJICNkcY96Xtl4OXPWiAXbNCANFE</string>
	<key>GCM_SENDER_ID</key>
	<string>410231270996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Persile.Persile</string>
	<key>PROJECT_ID</key>
	<string>persile</string>
	<key>STORAGE_BUCKET</key>
	<string>persile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410231270996:ios:8cd0b9b1c92c1d0ae7c7c1</string>
</dict>
</plist>